.navbar {
  background-color: #00508F;
  border-bottom: 1px solid #850c0c;
  padding: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f9c013;
}

.nav-link {
  font-size: 1.2rem;
  color: #f9c013;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #f9c013;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  background-color: #f9c013;
}

.navbar-button{
  display: none;
  position: absolute;
  background-color: #f9c013;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

@media (max-width: 768px) {
  .navbar-nav {
    background-color: #f9c013;
    padding: 1rem;
  }
  .nav-link {
    display: block;
    margin-bottom: 1rem;
  }
}
a {
    margin-left: 10px;
    margin-right: 10px;
    

    }